<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipe</title>
</head>
<body>
  <h1>Recipe Creation</h1>

  <form method="post">
    <input type="text" name="recipeName" placeholder="Recipe Name">
    <input type="text" name="description" placeholder="Description">
    <select id="category" name="category">
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Other">Other</option>
    </select>
    <textarea type="text" name="instructions" placeholder="instructions"></textarea>
    <input type="submit">
  </form>

</body>
</html>